[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true
 
[packages]
streamlit = "1.9.2"
opencv-python-headless = ">=4.5"
# backports.weakref = "*"
# opencv-python = "*"

[dev-packages]
black = "*"  # Pretty formatting of Python code
pynvim = "*" # Allows nvim users to use black formatting

