absl-py==1.0.0
alnlp==1.0.0rc27
altair==4.1.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
astor==0.8.1
async-generator==1.10
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.1
bert==2.2.0
bleach==4.1.0
blinker==1.4
boto3==1.21.44
botocore==1.24.44
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
contextlib2==21.6.0
contextvars==2.4
cycler==0.11.0
dataclasses==0.8
DateTime==4.4
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
entrypoints==0.4
erlastic==2.0.0
ezdxf==0.15.1
fastapi==0.75.2
filelock==3.4.1
Flask==2.0.3
gast==0.2.2
gitdb==4.0.9
GitPython==3.1.18
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h11==0.13.0
h5py==3.1.0
hanlp==2.1.0a0
hanlp-common==0.0.15
hanlp-downloader==0.0.25
hanlp-trie==0.0.4
idna==3.3
immutables==0.17
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
JPype1==0.7.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.19.5
numpy-stl==2.16.3
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.5
pandocfilters==1.5.0
params-flow==0.8.2
parso==0.7.1
Penman==0.6.2
phrasetree==0.0.8
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.7.0
prometheus-client==0.13.1
prompt-toolkit==3.0.26
protobuf==3.19.4
py-params==0.10.2
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pycparser==2.21
pydantic==1.9.0
pydeck==0.6.2
Pygments==2.11.2
pyhanlp==0.1.84
Pympler==1.0.1
pynvml==11.4.1
pyparsing==3.0.7
pyrsistent==0.18.0
python-dateutil==2.8.2
python-utils==3.1.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywinpty==1.1.6
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.49
scipy==1.4.1
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.85
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
starlette==0.17.1
streamlit==1.8.1
streamlit-plotly-mapboxEvents==0.0.4
tenacity==8.0.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
tokenizers==0.0.11
toml==0.10.2
toolz==0.11.2
toposort==1.5
torch==1.9.1+cu111
torchaudio==0.9.1
torchvision==0.10.1+cu111
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
transformers==2.4.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
uvicorn==0.16.0
validators==0.18.2
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.2
wrapt==1.14.0
zipp==3.6.0
zope.interface==5.4.0
